<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:hadoop="http://www.springframework.org/schema/hadoop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:batch="http://www.springframework.org/schema/batch"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/hadoop http://www.springframework.org/schema/hadoop/spring-hadoop.xsd
		http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder properties-ref="myProperties" />

	<util:properties id="myProperties" >
		<prop key="tweets.input.path">/xd/tweets/*.txt</prop>
		<prop key="tweets.output.path">/xd/hashtagcount/output/</prop>
		<prop key="hd.fs">hdfs://localhost:8020</prop>
	</util:properties>

	<hadoop:configuration>
		fs.default.name=${hd.fs}
	</hadoop:configuration>

	<!-- required since Hadoop Job is a class not an interface and we need to use a Job with step scope to access #{jobParameters['...']} -->
	<bean class="org.springframework.batch.core.scope.StepScope">
		<property name="proxyTargetClass" value="true"/>
	</bean>

	<batch:job id="job">
		<batch:step id="setup" next="hashtagcount">
			<batch:tasklet ref="scriptTasklet"/>
		</batch:step>
		<batch:step id="hashtagcount">
			<batch:tasklet ref="hashtagcount-tasklet" />
		</batch:step>
	</batch:job>

	<hadoop:job-tasklet id="hashtagcount-tasklet" job-ref="hashtagcountJob"/>

	<hadoop:job id="hashtagcountJob"
		input-path="${tweets.input.path}"
		output-path="${tweets.output.path}"
		libs="file:${xd.home}/modules/job/hashtagcount/lib/batch-hashtag-count-1.0.0.BUILD-SNAPSHOT.jar"
		mapper="org.springframework.xd.examples.hadoop.HashtagCount$TokenizerMapper"
		reducer="org.springframework.xd.examples.hadoop.HashtagCount$LongSumReducer"
		scope="step" />

	<hadoop:script-tasklet id="scriptTasklet" script-ref="hdfsScript" scope="step"/>

	<hadoop:script id="hdfsScript" language="groovy">
		<hadoop:property name="hdfsOutputDir" value="${tweets.output.path}"/>
			// use the shell (made available under variable fsh)
			if (fsh.test(hdfsOutputDir)) {
				fsh.rmr(hdfsOutputDir)
			}
	</hadoop:script>
</beans>

