.gradle/
build
target
**/.idea/
/out/
**/logs/
**/lib/
*.ipr
*.iml
*.iws
.settings
.classpath
.project
.springBeans
vf.gf.*
bin
dist
dump.rdb
.DS_Store
tomcat.*
activemq-data
spring-shell.log
.testdata
